










  .profile-pic{
    /*top: 50%;
    bottom:50%;
    transform: translate(-50%, -50%);*/
    margin: 100px auto;

  }
  .bottom-cloud{
    margin-top: 250px;
    margin-bottom: 230px;
    margin-left: 150px;
    width:8%;



  }
  /*
  .top-container{

    width:100vw;
  }
  .middle-container{
    width:100vw;
  }
  .bottom-container{

    width:100vw;*/


  .sun{
    margin-top:250px;
    margin-right: 250px;


  }

ul li{
  padding: 10px 10px;
}





/*responsive*/
/*
html

  width:100vw;*/


body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
  /*responsive with vh*/
  /*
  width: 100vw;*/



}

h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  /*
  font-family: 'Sacramento',cursive;*/
  font-family: 'Montserrat',sans-serif;
  line-height: 2;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;

}

h3{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
}

/*
div{
  background-color: #E4F9F5;
}*/
p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width:4%;
  margin: 100px auto;
}
nav{

  background-color:#66bfbf;


  padding-top:20px;
  padding-bottom: 20px;



}

ul{

  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding:0;
  /*responsive*/
  width:100%;

}
li{

  list-style-type: none;




}

a{
  color: #11999E;
  font-family: 'Montserrat' sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.nav-link{
  color:white;
  


}




img{
  max-width: 100%;
  height: auto;
}
.nav-container{
  width:100%;

}




.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;


}

.middle-container{
margin:100px 0;

}
.profile-pic{
/*
  position: relative;
  top:50px;
  left:300px;*/
  width:10%;




}




.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;


}
.linkedin{
  padding-bottom:20px;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
/*span class
.pro{
  text-decoration: underline;
}/*
/*
.intro-text{
  width:30%;
  margin:auto;
}*/
.intro-text{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
}

.sun{
  position: absolute;
  right: 10px;
  top:200px;
  width:8%;
  opacity: 0.9;


}

.bottom-cloud{
  position: absolute;
  left:100px;
  bottom: 300px;

}
.coding-img{
  width:20%;
  float: left;
  margin-right: 30px;
}

.soft-img{
  width:20%;
  float: right;
  margin-left: 30px;
}




.palm-tree{
  width:20%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
